<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Seleccione su forma de pago</h3>
    </div>

    <div class="panel-body">
        <img class="tigo-money" src="img/tigo_money.png" />
        <img class="billetera-personal" src="img/personal_logo.jpg" width="200"/>
        <img class="aquipago" src="img/aquipago.jpg" width="200"/>

        <div id="tigo-money-instructions" style="display: none">
            <div class="well">
                <h3>Instrucciones de pago</h3>


            </div>
        </div>

        <div id="billetera-personal-instructions" style="display: none">
            <div class="well">
                <h3>Instrucciones de pago</h3>


            </div>                  
        </div>

         <div id="aquipago-instructions" style="display: none">
            <div class="well">
                <h3>Instrucciones de pago</h3>

            </div>
        </div>
    </div>
  </div>