<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cargar saldo</h3>
    </div>

    <div class="panel-body">
        <h2>Eleccione su forma de pago</h2>

        <img class="tigo-money" ng-click="toggle('tigo')" src="img/tigo_money.png" />
        <img class="billetera-personal" ng-click="toggle('personal')" src="img/personal_logo.jpg" width="200"/>
        <img class="aquipago" ng-click="toggle('aquipago')" src="img/aquipago.jpg" width="200"/>
        <img class="bancard" ng-click="toggle('bancard')" src="img/bancard.jpg" width="200"/>

        <div id="tigo-money-instructions" ng-show="showTigo">
            <div class="well">
                <h3>Instrucciones de pago Tigo</h3>

                <ol>
                    <li>Marque <strong>*555#</strong> desde su celular Tigo.</li>
                    <li>Elige la opción 1)</li>
                    <li>Ingrese el número de Tigo de OpenPago: 0982 22 33 00</li>
                    <li>Envie el dinero</li>
                </ol>

            </div>
        </div>

        <div id="billetera-personal-instructions" ng-show="showPersonal">
            <div class="well">
                <h3>Instrucciones de pago Billetera Personal</h3>
                
                <p>Número de celular de OpenPago para recibir transferencias
                    de Billetera Personal: <strong>0962 - 52 52 52</strong></p>
                <img src="img/billetera_personal_compra.png" />
            </div>                  
        </div>

         <div id="aquipago-instructions" ng-show="showAquipago">
            <div class="well">
                <h3>Instrucciones de pago Aquipago</h3>

                <p>Abone el monto que quiere depositar en
                   en <a href="http://www.pronet.com.py/busqueda_avanzada/index.php?codEmisora=*&des=*" target="_blank">una de las sucursales</a> de Aquí Pago.
                </p>
                
                <p>El servicio a pagar es "OpenPago".</p>
            </div>
        </div>
        
        <div id="bancard-instructions" ng-show="showBancard">
            <div class="well">
                <h3>Instrucciones de pago Bancard</h3>

            </div>
        </div>
    </div>
  </div>
