<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Confirmación de pago
        </h3>
    </div>
    
    <div class="panel-body">
        <p>Por favor confirme la información del pago previo al envio.</p>

        <p>
            <strong>Monto:</strong> 200000 PYG<br/>
            <strong>Destinatario:</strong> eratzlaff@gmail.com
        </p>

        <div class="btn-group pull-right">
            <a ng-href="#/cobrar/" class="btn btn-default">Cancelar</a>
            <a ng-click="cobrar" class="btn btn-primary">Cobrar</a>
        </div>
    </div>
</div>