<div class="panel panel-default" ng-show="llenar()">
    <div class="panel-heading">
        <h3 class="panel-title">
            Cobrar dinero
        </h3>
    </div>
    
    <div class="panel-body">
        <form class="form" name="myForm" role="form">
            <div class="form-group">
                <label>Recipiente:</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input class="form-control" type="email" ng-model="transferencia.origen" placeholder="E-Mail" required>
                </div>
            </div>
            
            <div class="form-group">
                <label>Monto en Gs.:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" type="text" ng-model="transferencia.montoEntrada" placeholder="Monto" required>
                </div>
            </div>
            
            <div class="form-group">
                <a ng-click="siguiente()" class="btn btn-primary" ng-disabled="!myForm.$valid">Siguiente</a>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default" ng-show="confirmar()">
    <div class="panel-heading">
        <h3 class="panel-title">
            Confirmación de pago
        </h3>
    </div>
    
    <div class="panel-body">
        <p>Por favor confirme la información del pago previo al envio.</p>

        <p>
            <strong>Monto:</strong> {{ transferencia.montoEntrada }}PYG<br/>
            <strong>Destinatario:</strong> {{ transferencia.origen }}
        </p>

        <div class="btn-group pull-right">
            <a ng-href="#/cobrar/" class="btn btn-default">Cancelar</a>
            <button ng-click="cobrar()" class="btn btn-primary">Cobrar</button>
        </div>
    </div>
    
</div>
<!--{{transferencias | json}}-->