<div class="page-header">
    <div class="well">
        <h3>Balance: {{balance() | number}} PYG</h3>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Ultimas transacciones
            <div class="pull-right">
                <a href="">Imprimir</a>
            </div>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Origen
                    </th>
                    <th>
                        Destinatario
                    </th>
                    <th>
                        Entrada
                    </th>
                    <th>
                        Salida
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trans in transferencias | limitTo:'10'">
                    <td class="col-md-3">
                        {{trans.fecha | date:'medium'}}
                    </td>
                    <td>
                        {{trans.tipoPago}}
                    </td>
                    <td>
                        {{trans.estado}}
                    </td>
                    <td>
                        {{trans.origen}}
                    </td>
                    <td>
                        {{trans.destinatario}}
                    </td>
                    <td>
                        {{trans.montoEntrada| number}} PYG
                    </td>
                    <td>
                        {{trans.montoSalida| number}} PYG
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
