 <div id="jumbo" class="jumbotron" style="background-color: #eeeeee">
      <div class="container">
        <img src="img/openpago_big.png" class="img-responsive">
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="img/slider/comodidad.png">
            <div class="caption">
              <h3>Desde la comodidad de su hogar</h3>
            </div>
          </div>
        </div>
          
        <div class="col-sm-4 col-md-4">  
          <div class="thumbnail">
            <img src="img/slider/facilidad.png">
            <div class="caption">
              <h3>A cualquier persona o empresa</h3>
            </div>
          </div>
        </div>
          
        <div class="col-sm-4 col-md-4">  
          <div class="thumbnail">
            <img src="img/slider/rapidez.png">
            <div class="caption">
              <h3>Hoy</h3>
            </div>
          </div>
        </div>
      </div>
        
        
      <h2 id="try-header">Acerca del proyecto</h2>
    
      <h4>Este proyecto surgió en el Startup Weekend Asunción 2013.</h4>
    </div>
    <hr>
