<div class="row">
    <div class="col-xs-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registro de cliente nuevo</h3>
            </div>

            <div class="panel-body">
                <form role="form">
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="registroInputNombre" placeholder="Ingrese su nombre">
                  </div>
                  <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="registroInputApellido" placeholder="Ingrese su apellido">
                  </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="registroInputEmail" placeholder="Ingrese su email">
                  </div>
                  <div class="form-group">
                    <label for="birth">Fecha de nacimiento:</label>
                    <input type="text" class="form-control" id="registroInputEmail" placeholder="Ingrese su fecha de nacimiento">
                  </div>
                  <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="registroInputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="password_confirmation">Confirmación de contraseña:</label>
                    <input type="password" class="form-control" id="registroInputPasswordConfirmation" placeholder="Password confirmation">
                  </div>
                  <a ng-href="#/" class="btn btn-primary btn-lg">Registrarme</a>
                </form>
            </div>
        </div>
    </div>
</div>