<div class="page-header">
    <button class="btn btn-primary">Imprimir</button>
</div>

<hr>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Últimas transacciones
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Origen
                    </th>
                    <th>
                        Destinatario
                    </th>
                    <th>
                        Entrada
                    </th>
                    <th>
                        Salida
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trans in transferencias | orderBy:'-fecha' | limitTo:'10'">
                    <td class="col-md-3">
                        {{trans.fecha| date:'medium'}}
                    </td>
                    <td>
                        {{trans.tipoPago}}
                    </td>
                    <td>
                        {{trans.estado}}
                    </td>
                    <td>
                        {{trans.origen}}
                    </td>
                    <td>
                        {{trans.destinatario}}
                    </td>
                    <td>
                        {{trans.montoEntrada| number}} PYG
                    </td>
                    <td>
                        {{trans.montoSalida| number}} PYG
                    </td>
                </tr>
            </tbody>
        </table>
<!--        <ul class="pagination">
            <li>
                <a href="#">Prev</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">Next</a>
            </li>
        </ul>-->
    </div>
</div>
