
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Ultimas transacciones
            <div class="pull-right">
            </div>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Destinatario
                    </th>
                    <th>
                        Monto
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        2 de agosto 13:53
                    </td>
                    <td>
                        Transferencia
                    </td>
                    <td>
                        En proceso
                    </td>
                    <td>
                        Cuenta bancaria
                    </td>
                    <td>
                        -200.000 PYG
                    </td>
                </tr>
                <tr>
                    <td>
                        1 de agosto 13:53
                    </td>
                    <td>
                        Transferencia
                    </td>
                    <td>
                        Pagado
                    </td>
                    <td>
                        elvis.ratzlaff@gmail.com
                    </td>
                    <td>
                        -200.000 PYG
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination">
            <li>
                <a href="#">Prev</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
</div>
